.container-grid-view {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
}

.grid-view-filter-container {
  display: flex;
  flex-direction: row;
}

.leftside-filter {
  text-align: center;
  font-family: jura;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 10px;
}

.clear-filters-button {
  width: 160px;
  height: 36px;
  border-radius: 50px;
  background-color: rgb(56, 91, 187);
  color: white;
  border: none;
}

.filter-category-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: 30px;
}

.filter-price-button {
  cursor: pointer;

  border: none;
  background-color: transparent;
  margin-top: 16px;
}

.filter-links {
  text-decoration: none;
  color: rgb(57, 57, 77);
}

.grid-view-product {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 260px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: Jura;
  font-style: normal;
  font-weight: bolder;
}

.stock-indicator {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 12px 20px 0px 20px;
  color: green;
}

.product-photo {
  width: 150px;
  height: 150px;
  margin-left: 21%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.product-photo.updated {
  width: 150px;
  height: 150px;
  margin-left: 21%;
  opacity: 0;
}

.review-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 6px;
}

.product-describe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Jura;
  font-style: normal;
  font-weight: bolder;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
}

.prices-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 64px;
}

.special-price {
  text-decoration: line-through;
  color: grey;
}

.product-arrow-icons {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: grey;
}


